*{
    margin: 0;
    box-sizing: border-box;

}
body{
    background-image: url(/img/background.jpg);
}


.background{
    height: 550px;
    width: 700px;
    margin-top: 20px;
}

#content{
    position: relative;
}

.build{
    position: absolute;
    margin-top: 80px ;
    font-size: 38px;
    font-weight: bold;
    color: #fff;
}
#voice{
    position: absolute;
    margin-top:200px ;
    color: rgb(28, 28, 221);
    font-size: 38px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#text_span1{
    position: absolute;
    margin-top: 260px;
    color: #fff;
    font-size: 24px;
}
.new_meeting{
    position: absolute;
    margin-top: 380px;
    margin-left: 120px;
    background-color: rgb(1, 1, 126);
    padding-right: 20px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    border-radius: 10px;
    padding-bottom: 5px;

}
.new_meeting a{
    text-decoration: none;
    color: white !important;
    font-size: 20px;
    font-family: RobotoMono-Regular,RobotoMono;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
#logo{
    height: 100px;
    width: 100px;
}
.row .col-6{
    font-size: 30px;
}